.vscode


lib64
share
pyvenv.cfg

c/bin/
c/.clangd
c/project

venv/
.venv
python/__pycache__
python/pitaya/__pycache__
python/frames/__pycache__
python/gui/__pycache__
python/gui/interactive/__pycache__
python/signal_processing/__pycache__